@import "tailwindcss";

/* Hide number-input spinners & input clear-buttons */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

/* Hide clear (×) in inputs */
input::-ms-clear,
input::-ms-reveal,
input::-webkit-search-cancel-button,
input::-webkit-search-decoration {
  display: none;
}